body 
   background: #424242
   
.live-img 
   position: absolute
   left: 50%
   top: 50%
   transform: translate(-50%, -50%)
   text-align: center
   background: #212121

// dat.GUI
.dg.a 
   float: left!important
   margin-left: 10px